#post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;


    .conteneur {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: lightgray 4px 4px 20px;
        width: 90%;
        margin-top: 30px;

        .back {
            display: flex;
            align-items: center;
            width: 100%;

            .fa {
                color: red;
                margin-left: 1%;
                margin-top: 1%;
                font-size: x-large;
            }
        }

        img {
            width: 30%;
            height: 25%;
        }

        #note {
            display: flex;

            #like {
                display: flex;
                p {
                    margin-right: 10px;
                    color: black;
                }

                .fa {
                    color: green;
                    margin-right: 2px;
                }
            }

            #dislike {
                .fas {
                    color: red;
                    margin-right: 2px;
                }
                p {
                    margin-right: 10px;
                    color: black;
                }
            }
        }

        #modifyAndDelete {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            gap: 60px;

            #modify {
                width: 100px;
                height: 50px;
                background-color: black;

                button {
                    height: 100%;
                    width: 100%;
                    color: black;
                    background-color: green;
                    font-size: 16px;
                }

            }

            #delete {
                width: 100px;
                height: 50px;
                background-color: black;

                button {
                    height: 100%;
                    width: 100%;
                    color: black;
                    background-color: red;
                    font-size: 16px;
                }
            }

        }

    }
}

h4 {
    text-align: center;
    font-size: larger;
}