<div class="header">
    <div class="container1">
        <img routerLink="/postmenu" src="assets/img/Grouporama.png" alt="photo groupomania ">
    </div>
    <div class="container2">
        <a *ngIf="auth.isLoggedIn" routerLink="/createpost">
            <h3 class="login"> Nouveau</h3>
        </a>
        <a *ngIf="!auth.isLoggedIn" routerLink="/signup">
            <h3 class="signup"> S'inscrire</h3>
        </a>
        <a *ngIf="!auth.isLoggedIn" routerLink="/login">
            <h3 class="login"> Connexion</h3>
        </a>
        <a *ngIf="auth.isLoggedIn" (click)="logout()" routerLink="/login">
            <h3 class="login"> Déconnexion</h3>
        </a>
        <a routerLinkActive="active"></a>

    </div>
</div>