<div class="header">
    <div class="container1">
        <img routerLink="/postmenu" src="assets/img/Grouporama.png" alt="photo groupomania ">
    </div>
    <div class="container2">
        <a *ngIf="isLogin" routerLink="/createpost">
            <h3 class="login"> CREATEPOST</h3>
        </a>
        <a *ngIf="!isLogin" routerLink="/signup">
            <h3 class="signup"> SIGNUP</h3>
        </a>
        <a *ngIf="!isLogin" routerLink="/login">
            <h3 class="login"> LOGIN</h3>
        </a>
        <a *ngIf="!isLogin" (click)="logout()" routerLink="/login">
            <h3 class="login"> LOGOUT</h3>
        </a>
        <a routerLinkActive="active"></a>

    </div>
</div>