* {
    font-family: 'Lato', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #FD2D01;

    .container1 {
        img {
            width: 50%;
            height: 100%;
            margin-left: 15%;
        }
    }

    .container2 {
        width: 50%;
        height: 30%;
        display: flex;
        justify-content: right;
        margin-right: 5%;

        a {
            margin-right: 5%;
            text-decoration: none;
            color: inherit;

            h3{
                font-size: x-large;
            }
        }

        a:hover {
            color: #4E5166;
        }

        .signup {
            white-space: nowrap;
            font-size: larger;
        }

        .login {
            font-size: larger;

        }
    }

}

@media (min-width : 768px) and (max-width : 1024px) {
    .header {
        .container1 {
            img {
                width: 50%;
                height: 50%;
                margin-left: 0%;
            }
        }

        .container2 {
            margin-right: 0%;
            font-size: larger;
            a {
                margin-right: 7%;
                h3 {
                    font-size: larger;
                    white-space: nowrap;
                }
            }
        }

    }
}

@media (max-width: 768px) {

    .header {
        .container1 {
            img {
                width: 65%;
                height: auto;
                margin-left: 0%;
            }
        }

        .container2 {
            margin-right: 0%;
            font-size: 14px;

            a {
                margin-right: 7%;
                h3 {
                    font-size: 16px;
                    white-space: nowrap;
                }
            }
        }

    }
}