<div id="post">
    <h2>Bienvenue {{email}}</h2>
    <div (click)='goPost(posts)' *ngFor="let posts of listOfPosts " class="conteneur">
        <h2>{{ posts.title }}</h2>
        <p>Mise en ligne le {{posts.date | date: "dd MMMM yyyy, à HH:mm" }}</p>
        <img [src]="posts.imageUrl" [alt]="posts.title">
        <div id="description">
            <p>{{posts.description}}</p>
        </div>
        <div id="note">
            <p><i class="fa fa-regular fa-thumbs-up"></i>{{posts.likes}}</p>
            <p><i class="fas fa-regular fa-thumbs-down"></i>{{posts.dislikes}}</p>
        </div>
    </div>
</div>