#post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;


    .conteneur {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: lightgray 4px 4px 20px;
        width: 70%;
        margin-top: 30px;

        h2 {
            margin-top: 1%;
            margin-bottom: 1%;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        #interact {
            width: 100%;

            i {
                margin: 2%;
                font-size: x-large;
                color: #000000c2;
            }
        }

        #description {
            width: 100%;

            p {
                width: 90%;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-left: 20px;
                white-space: nowrap;
            }
        }

        img {
            height: 80%;
            width: 35%;
        }

        #note {
            display: flex;



            p:nth-child(1) {
                margin-right: 10px;
            }



            .fa {
                color: green;
                margin-right: 2px;
            }

            .fas {
                color: red;
                margin-right: 2px;
            }
        }
    }
}

@media (min-width : 768px) and (max-width : 1024px) {
    #post {

        .conteneur {
            width: 90%;

        }
    }
}

@media (max-width: 768px) {
    #post {
        h2 {
            font-size: larger;
        }

        .conteneur {
            width: 90%;

            h2 {
                width: 100%;
                text-align: center;
                font-size: larger;
            }
            #interact {
                
    
                i {
                    font-size: medium;
                }
            }

            p {
                font-size: small;
            }


        }
    }
}