<!-- <form *ngIf="post" (ngSubmit)="onSubmit()" #postForm="ngForm">
    <div class="cardPost">

        // Post Title
        <div class="title">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" required pattern="^[a-zA-Zàéèç]{{1,50}$"
                [(ngModel)]="post.title" name="title" #name="ngModel">
        </div>

        //Post Image
        <div>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="file">
            </form>
            <label>Choose file</label>
        </div>

        // Post Description
    </div>
</form>
<h3 *ngIf="!post">Aucun post à éditer</h3> -->